<!DOCTYPE html>
<html>
  <head> </head>
  <body>
    <div id="block">
      <div id="header">Social</div>
      <div id="content">
        <p>Hello! <%= name %></p>
        <p>
          Your password has been reseted!
          <br />
          New password: <strong><%= password %></strong>
        </p>
      </div>
    </div>

    <style>
      body {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
          "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: left;
        background-color: #fafafa;
      }

      #block {
        padding: 13px 35px;
      }

      #header {
        padding: 13px 35px;
        background: #006db3;
        color: white;
        font-size: 23px;
        font-weight: 500;
      }

      #content {
        border: 1px solid #d0d0d0;
        padding: 5px 35px;
        font-size: 16px;
      }
    </style>
  </body>
</html>
